body {
  font-family: "Poppins", sans-serif;
}

.land {
  fill: rgb(141, 155, 136);
}
.interiors {
  fill: none;
  stroke: #c0c0bb;
  stroke-width: 1px;
}
.boundary {
  fill: #9a9e9e;
  stroke: #c0c0bb;
}

.boundaryNone {
  fill: #9a9e9e;
  stroke: #c0c0bb;
}

.sphere {
  fill: rgb(150, 209, 243);
}

/* Line chart elements */
.grid line {
  fill: none;
  stroke: black;
  opacity: 0.1;
}

circle {
  fill: rgb(218, 11, 11);
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 70%;
  padding: 10px;
}
.column2 {
  float: left;
  width: 30%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

